body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header/Hero Layout */

.head {
    background-color: #1F2937;
    padding: 4px 100px 4px 100px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 20px 0px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    height: 400px;
    align-items: center;
    overflow: scroll;
}

.hero-left {
    height: 300px;
    padding-right: 16px;
    flex: 1;
}

.hero-right {
    height: 300px;
    margin-left: 16px;
    background-color: red;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    display: flex;
    gap: 16px;
    align-items: center;
}

/* Header/Hero text styling */
header h3 {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-top: 0;
}


.hero-content p, header ul{
    font-size: 18px;
    color: #e5e7eb;
}

header ul {
    list-style: none;
}

.hero-content button {
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
    padding: 4px 16px;
    border: none;
    cursor: pointer;

}

/* SECOND SECTION */

.second-section {
    text-align: center;
    height: 350px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.second-content {
    display: flex;
    gap: 24px;
    width: 80%;
    margin: auto;
}

.box img {
    max-width: 100%;
    border-radius: 8px;
}

/* THIRD SECTION */

.third-section {
    height: 350px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote-box {
    width: 70%;
    margin: auto;
    padding: 24px;
}

.third-section blockquote {
    font-size: 36px;
    font-style: oblique;
    margin: 0;
}

.quote-cite {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

/* FOURTH SECTION */

.sign-up {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.sign-up-box {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 24px 48px;
    margin: 40px 80px;
    border-radius: 4px;
    color:#E5E7EB;
}

.sign-up-btn button {
    border-color:white;
    border-style: solid;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 4px 16px;
    cursor: pointer;
}

.sign-up-box h2, p {
    margin: 0;
}

/* FOOTER */

.footer {
    height: 75px;
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}


